{% extends 'base.html' %} 
<!-- {% block title %} Home Page {% endblock %} -->
{% block content %} 
<center>
<div class="main-body">
<center>
    <h1>Welcome to your supervisor account, {{user.username}}!</h1>
</center>
</br>
<!-- placeholder text -->
<center>
    <p>You can access the forms to add employee/customers/admin below.</p>
    <p>You can also access different reports using the sidebar.</p>
</center>
<div>
   <center>
        <strong>
            <a class = "add-btn" href = '/add_emp'> Add an Employee </a>
            </br>
            <a class = "add-btn" href = '/add_cust'>Add a Customer</a>
            <br>
            <a href = '/sign-up'>
                Add New Admin
            </a>
            </br>
        </strong>
    </center>
</div>
</div>
</center>

{% endblock %}